:root{
    --primary:  #4169e1;
    --secondary: #5BBCE4;
  }
  @font-face {
      font-family: "Ageo";
      src: url(./download/AgeoTrial-SemiBold.ttf);
  }
  
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Ageo", sans-serif;
  }

  body {
    min-height: 100dvh;
    width: 100%;
    background-color: var(--primary);
    background: linear-gradient(to top left, var(--primary), 65%, var(--secondary));
    color: #fff;
    overflow-x: hidden;
  }
  
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.custom-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#fff 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#fff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}